In [1]:
# collection elements inside of ()
var =(1, 4.2 , True, 4+5j, None, 'soc',[1,2],(1,2),{1,2},{12:45})
print var
print type(var)

(1, 4.2, True, (4+5j), None, 'soc', [1, 2], (1, 2), set([1, 2]), {12: 45})
<type 'tuple'>

In [2]:
#tuple indexing 
# positive index  0 to  len -1
var =(23, 8,2,90,100)
print var[0]
print var[1]
print var[2]
print var[3]
print var[4]

23
8
2
90
100

In [3]:
#tuple indexing 
# Negative index  -1 to -len
var =(23, 8,2,90,100)
print var[-1]
print var[-2]
print var[-3]
print var[-4]
print var[-5]

100
90
2
8
23

In [5]:
# tuple slicing  --->> var[start :  stop]
var=(12,90,34,78,12,90,34)
print var[2:6]#(34,78,12,90)
print var[:6]
print var[2:]

(34, 78, 12, 90)
(12, 90, 34, 78, 12, 90)
(34, 78, 12, 90, 34)

In [6]:
# tuple dicing  -->>  var[ start :  stop :  step]
var = (12,90,34,89,23,100,34,250)
print var[1:7:2]#(90,89,100)
print var[:7:2]# (12,34,23,34)
print var[1::2]#(90,89,100,250)
print var[1:5:]#(90,34,89,23)

(90, 89, 100)
(12, 34, 23, 34)
(90, 89, 100, 250)
(90, 34, 89, 23)

In [7]:
# tuple is immutable--->. we can't modify the existing data
var = (34,89,12)
print var
var[1]=120
print var

(34, 89, 12)

TypeError: 'tuple' object does not support item assignment

In [8]:
a = (1,2,3)
b = (4,5,6)
print a+b
print a.__add__(b)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [9]:
a =(1,2,3)
print a *4
print a.__mul__(4)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [10]:
a = (1,2,3)
b = 2
print b in a
print a.__contains__(b)

True
True

In [11]:
a =(1,2,3)
b =(1,2,3)
print a == b
print a.__eq__(b)
print "*******"
print a != b
print a.__ne__(b)
print "*******"
print a < b
print a.__lt__(b)
print "*******"
print a > b
print a.__gt__(b)
print "*******"
print a <= b
print a.__le__(b)
print "*******"
print a >= b
print a.__ge__(b)
print "*******"

True
True
*******
False
False
*******
False
False
*******
False
False
*******
True
True
*******
True
True
*******

In [12]:
print dir(tuple)

['__add__', '__class__', '__contains__', '__delattr__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getslice__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [13]:
var = (34,90,23,34,78,34)
print var.count(34)

3

In [14]:
var = (4,8,3,90)
print var.index(90)

3

In [15]:
var = (1,89,34)
print var[1]
print var.__getitem__(1)

89
89

In [16]:
var =(4,8,2,90,12)
print var[1:3]
print var.__getslice__(1,3)

(8, 2)
(8, 2)

In [17]:
var = (1,5,2)
var = list(var)
var.insert(2,100)
var = tuple(var)
print var

(1, 5, 100, 2)